apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: devops-app
  template:
    metadata:
      labels:
        app: devops-app
    spec:
      containers:
      - name: devops-app
        image: <ACCOUNT_ID>.dkr.ecr.ap-south-1.amazonaws.com/devops-app:latest
        ports:
        - containerPort: 3000
